.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  width: 100%;
  margin: 0;
  margin-bottom: 1%;
  padding: 1% 0;
}

.grid{
  width: 960px;
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  border: solid black 1px;
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-radius: 5px;
  margin-top: 20px;
}

.box{
  border: solid gray 1px;
  border-radius: 5px;
  width: 12px;
  height: 12px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.box:hover{
  background-color: cyan
}

.on{
  background-color: green;
  border: solid limegreen 1px;
}

.off{
  background-color: silver;
}

.dying{
  background-color: rgb(150, 218, 162);
  border: solid gray 1px;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.buttons_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

button{
  margin: 0 1%;
}

.key_container{
  display: flex;
  width: auto;
  justify-content: space-between;
}

.key{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  width: auto;
}

.middle{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midSection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5px;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  width: 100%;
  border-top: solid black 1px;
}

.about_section{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.subtitle{
  text-align: center;
  border: solid black 1px;
  margin-bottom: 1%;
  background-color: rgba(161, 119, 2, 0.151);
}

.rules{
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3% 5%;
}

.list{
  padding: 2%;
  margin: 0;
}

.others:nth-child(4n), .others:nth-child(4n+1){
  background-color: silver;
}

@media screen and (max-width: 560px){
  .buttons_container{
    width: 95%;
  }

  button{
    margin: 0;
  }

  .others:nth-child(odd){
    background-color: whitesmoke;
  }

  .rules{
    width: 100%;
  }

  .hide_when_small{
    display: none;
  }
}