.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  width: 100%;
  margin: 0;
  margin-bottom: 1%;
  color: white;
  background-color: black;
}

.footer{
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  height: 4rem;
}

h1{
  text-shadow: rgb(48, 29, 0) 3px 3px;
}

.grid{
  width: 960px;
  background-color: rgb(88, 50, 0);
  display: flex;
  flex-wrap: wrap;
  border: solid black 1px;
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-radius: 5px;
  margin-top: 20px;
}

.box{
  border: solid black 1px;
  border-radius: 5px;
  width: 12px;
  height: 12px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.box:hover{
  background-color: rgb(158, 0, 0)
}

.on{
  background-color: rgb(207, 135, 0);
  border: solid black 1px;
}

.off{
  background-color: rgb(48, 29, 0);
}

.dying{
  background-color: rgb(88, 50, 0);
  border: solid black 1px;
}

.main{
  background-color: rgb(206, 182, 140);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.bannerSection{
  display: flex;
  width: 100%;
  justify-content: center;
}

.stats{
  display: flex;
  justify-content: flex-end;
  margin: 0 5%;
  padding: 0;
  width: 45%;
}

.stats_subsection{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
}

.buttons_container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  margin: 0 5%;
}

button{
  margin: 0 1%;
  padding: 1%;
}

button:hover{
  background-color: white;
  cursor: pointer;
}

.key_container{
  display: flex;
  width: auto;
  justify-content: space-between;
  margin: 1%;
}

.key{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  width: auto;
}

.grid_main_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midSection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5px;
}

.about_section{
  border-top: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(211, 176, 116);
}

.subtitle{
  text-align: center;
  margin-bottom: 1%;
  background-color: rgb(48, 29, 0);
  color: white;
}

.rules{
  border-top: black solid 1px;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3% 5%;
}

.list{
  padding: 2%;
  margin: 0;
}

.rules:nth-child(4n), .rules:nth-child(4n+1){
  background-color: rgb(179, 151, 108);
}

@media screen and (max-width: 560px){
  .grid_main_section{
    padding-bottom: 3%;
  }

  .rules{
    width: 80%;
    padding:  5% 10%;
    margin: 0;
  }

  .rules:nth-child(odd){
    background-color: rgb(179, 151, 108);
  }

  .rules:nth-child(even){
    background-color: rgb(211, 176, 116);
  }

  .bannerSection{
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .stats{
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .buttons_container{
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  button{
    margin: 0;
  }

  .about_section{
    border-top: solid 1px black;
    flex-direction: column;
  }

  .subtitle{
    background-color: none;
    padding: 0;
    border: none;
    color: white;
  }

  .hide_when_small{
    display: none;
  }
}